body{
  background-image: linear-gradient(to bottom, rgb(36, 36, 36), rgb(99, 99, 99));
  height: 100vh;
  font-family: cursive;
}

h1, h2, h3 {
  text-align: center;
  color: aliceblue;
}

.samba {
  text-align: center;
  border-style: double;
  width: 400px;
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(to bottom, rgb(36, 36, 36), rgb(185, 185, 185), rgb(36, 36, 36));
}

input{
  border-radius: 25px;
  text-align: center;
  font-size: medium;
  width: 130px;
  height: 20px;
}

button {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 25px;
  transition: 0.5s;
}
button:hover {
  background-color: rgb(114, 175, 255);
  color: aliceblue;
}